
<div class="flex mt-6 max-w-7xl mx-auto px-4 sm:px-6">
  <% if current_user.present? %>
  <div class="flex-1">
  <%= link_to "Mainpage", root_path, class:"whitespace-nowrap inline-flex items-center justify-center px-2  border border-transparent rounded-md shadow-sm text-based font-medium text-white bg-orange-600 hover:bg-orange-700 mr-4"%>
  <div class="flex-1">
      <% end %>
  <div class="flex-1">
      <h2 class="text-3xl font-extrabold text-green-700">Fresh Posts: </h2>
      <% @posts.each do |post| %>
        <%= render partial: "posts/post", locals: {post: post} %>
      <% end %>
      <%= will_paginate @posts %>
  </div>

  <%= form_tag("/homepage", :method => "get") do %>
    <%= text_field_tag :post_search, params[:post_search], placeholder: "Search Posts" %>
    <%= submit_tag "Search" %>
  <% end %>

  <% if @post_search_result %>
    <% if @post_search_result.empty? %>
      <h2 class="text-1xl font-extrabold text-green-700">Post Search Results: empty </h2>
      <% elsif %>
      <h2 class="text-1xl font-extrabold text-green-700">Post Search Results: </h2>
      <%= render partial: "posts/post", collection: @post_search_result %>
    <% end %>
  <% end %>


  <%= form_tag("/homepage", :method => "get") do %>
    <%= text_field_tag :category_search, params[:category_search], placeholder: "Search Categories" %>
    <%= submit_tag "Search" %>
  <% end %>

  <% if @category_search_result %>
    <% if @category_search_result.empty? %>
      <h2 class="text-1xl font-extrabold text-green-700">Category Search Results: empty </h2>
      <% elsif %>
      <h2 class="text-1xl font-extrabold text-green-700">Category Search Results: </h2>
      <%= render partial: "categories/category", collection: @category_search_result %>
    <% end %>
  <% end %>
</div>
